<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALDEA MODA / e-commerse Ropa Mujer - Hombre - Niño - Niña</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="static/product-admin/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/product-admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/product-admin/css/templatemo-style.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }
        .navbar {
            background-color: #111 !important;
        }
        .navbar-brand {
            color: #f90 !important;
        }
        .navbar-toggler {
            border-color: #fff !important;
        }
        .navbar-nav .nav-link {
            color: #fff !important;
        }
        .navbar-nav .nav-link:hover {
            color: #f90 !important;
        }
        .navbar-nav .nav-item.active .nav-link {
            color: #f90 !important;
        }
        .tm-footer {
            background-color: #111;
            color: #fff;
        }
        .tm-footer a {
            color: #f90;
        }
        .tm-footer a:hover {
            color: #fff;
        }
        .tm-product-table th,
        .tm-product-table td {
            color: #fff !important;
        }
        .tm-bg-primary-dark {
            background-color: #111 !important;
            border-color: #333 !important;
        }
        .btn-primary {
            background-color: #f90 !important;
            border-color: #f90 !important;
        }
        .btn-primary:hover {
            background-color: #ffcc00 !important;
            border-color: #ffcc00 !important;
        }
        .tm-site-title {
            color: #fff;
        }
    </style>
</head>
<body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index.html">
                <h1 class="tm-site-title mb-0">Product Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="far fa-file-alt"></i>
                            Informes 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="products.html">
                            <i class="fas fa-shopping-cart"></i>
                            Productos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="accounts.html">
                            <i class="far fa-user"></i>
                            Cuentas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i class="fas fa-dollar-sign"></i>
                            E-Commerse
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="login.html">
                            Admin, <b>Cerrar Sesión</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8  col-xl-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <form action="/products.html" method="get">
                        <div class="tm-product-table-container">
                            <table class="table table-hover tm-table-small tm-product-table">
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">NOMBRE DEL PRODUCTO</th>
                                        <th scope="col">EN ALMACÉN</th>
                                        <th scope="col">PRECIO</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>                
                                <tbody>
                                    <% products.forEach(function(product) { %>
                                        <tr>
                                            <th scope="row"><input type="checkbox" value="<%= product.id %>" name="productIds"/></th>
                                            <td class="tm-product-name"><a href="/edit-product.html?editProductId=<%= product.id %>&name=<%=product.name%>&price=<%=product.price%>&inStock=<%=product.in_stock%>&categoryName=<%=product.category_name%>&imageName=<%=product.image_name%>" style="color: inherit"><%= product.name %></a></td>
                                            <td><%= product.in_stock %></td>
                                            <td><%= product.price %></td>
                                            <td>
                                                <a href="/products.html?borrarProducto=<%= product.id %>"  class="tm-product-delete-link">
                                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>              
                            </table>
                        </div>
                        <!-- table container -->
                        <a href="add-product.html" class="btn btn-primary btn-block text-uppercase mb-3">Añadir nuevo producto</a>
                        <button class="btn btn-primary btn-block text-uppercase">Eliminar productos seleccionados</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
              Derechos de autor &copy; <b>2024</b> Todos los derechos reservados 
            </p>
        </div>
    </footer>
    <script src="static/product-admin/js/jquery-3.3.1.min.js"></script>
    <script src="static/product-admin/js/bootstrap.min.js"></script>
</body>
</html>
